/REST_HttpServlet/nbproject/private/
/REST_HttpServlet/dist/
/REST_HttpServlet/build/
/REST_JAX-RS/nbproject/private/
/REST_JAX-RS/build/
/REST_JAX-RS/dist/
/REST_Restlet/nbproject/private/
/REST_Restlet/build/
/REST_WebServiceProvider/nbproject/private/
/REST_WebServiceProvider/build/
/REST_WebServiceProvider/dist/
/REST_ClientAmazon/nbproject/private/
/REST_ClientAmazon/build/
/XML_Bind/nbproject/private/
/XML_Bind/build/
/REST_JAX-RS_Client/nbproject/private/
/REST_JAX-RS_Client/build/
/REST_JAX-RS_Client/dist/
/REST_JavaScript_Client/nbproject/private/
/REST_JavaScript_Client/build/
/SOAP_Random/nbproject/private/
/SOAP_Random/build/
/SOAP_Random_Console/nbproject/private/
/SOAP_Random_Console/build/